@font-face {
    font-family: "MS Regular";
    src: url("/fonts/MoscowSans-Regular.ttf");
}

@font-face {
    font-family: "MS Light";
    src: url("/fonts/MoscowSans-Light.otf");
}

@font-face {
    font-family: "MS Bold";
    src: url("/fonts/MoscowSans-Bold.otf");
}


*{
    margin: 0;
    font-family: "MS Light", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    background: linear-gradient(-45deg, #315ef1, #a2e722, #ed1a25,#faed00);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transition: background-color 1.2s ease-in-out;
}

header.header a{
    color: white;
}