.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    background-color: blueviolet;
}

.logo{
    width: 200px;
}

.header a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all ease-in-out 0.2s;
}

.header a:hover{
    color: rgb(0, 69, 116);
    font-size: 23px;
}

.region-name{
    width: 100%;
    text-align: center;
    font-family: "MS Bold", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.region-card{
    display: flex;
    flex-direction: column;
}

.general-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 22px;
}

.region-image{
    height: 300px;
}

.main{
    padding: 0px 200px 0px 200px;
}

.fa-snowflake{
    color: rgb(32, 91, 255);
}

.fa-sun{
    color: rgb(255, 166, 0);
}