@font-face {
    font-family: "MS Regular";
    src: url("/fonts/MoscowSans-Regular.ttf");
}

@font-face {
    font-family: "MS Light";
    src: url("/fonts/MoscowSans-Light.otf");
}

@font-face {
    font-family: "MS Bold";
    src: url("/fonts/MoscowSans-Bold.otf");
}


*{
    margin: 0;
    font-family: "MS Light", sans-serif;
}

.main{
    background-color: skyblue;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 200px;
}

header a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all ease-in-out 0.2s;
}

header a:hover{
    color: rgb(0, 69, 116);
    font-size: 23px;
}

.first-page{
    height: 100vh;
    background-image: url("/images/bg.png");
}

.person{
    height: 500px;
    position: absolute;
    right: 10%;
    bottom: 0;
}

.main-entry{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 40px;
}

.main-title{
    font-family: "MS Bold", sans-serif;
}


.search-set{
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
}