<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/sea.css">
    <title>Проекты</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="logo" src="../images/sberlogo.svg"></a>
        <a href="about.html">О нас</a>
        <a href="https://transport.mos.ru/mostrans/oplata_proezda/troika">Тройка</a>
        <a href="projects.html">Проекты</a>
        <a href="regions.html">Регионы</a>
        <a href="news.html">Новости</a>
    </header>
    <a href="https://t.me/Pi_Sber_Troika_Bot">Ссылка на телеграмм бота ПИ</a>
    <p>В дальнейшем здесь будет размещаться информация о проектах СберТройки!</p>
</body>
</html>
