<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/regions.css">
    <title>Подключенные регионы</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="logo" src="../images/sberlogo.svg"></a>
        <a href="#">О нас</a>
        <a href="#">Тройка</a>
        <a href="#">Регионы</a>
        <a href="#">Новости</a>
    </header>
    <div class="main">
        <h2 class="title">
            Билетная система «СберТройки» работает в 22 регионах России: от республики Карелия до Хабаровского края
        </h2>
        <div style="display: flex;">
            <div class="region-card-wrap">
                <a href="region.html">
                    <div class="region-card"></div>
                    <span class="region-name">Республика Карелия</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>