<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/region.css">
    <link rel="stylesheet" href="/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Республика Хакасия</title>
</head>
<body>
    <header class="header">
        <a href="#"><img class="logo" src="/images/sberlogo.svg"></a>
        <a href="#">О нас</a>
        <a href="#">Тройка</a>
        <a href="#">Регионы</a>
        <a href="#">Новости</a>
    </header>
    <div class="main">
        <div class="region-card">
            <h2>Республика Карелия</h2>
            <img src="https://all.accor.com/magazine/imagerie/1-6d7f.jpg">
            <p>В Республике Карелия есть прекрасные возможности для развития различных видов туризма, охоты и рыбалки, отдыха в коттеджах и на турбазах, лечения в санаториях в летний и зимний сезон, активного отдыха, сплава на плотах и байдарках, удовлетворения интересов любителей путешествий и ценителей прекрасного: на государственном учете находится свыше четырех тысяч культурно-исторических и природных памятников и объектов.</p>
        </div>
    </div>
</body>
</html>